@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Projects>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}

<div class="container-fluid bg-3 text-center">    
  <h3>Some of my Work</h3><br>
  <div class="row">
@Umbraco.RenderMacro("listProject")
  </div>
</div><br>