<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT textPAge ANY>
<!ATTLIST textPAge id ID #REQUIRED>
<!ELEMENT projectsItem ANY>
<!ATTLIST projectsItem id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT projects ANY>
<!ATTLIST projects id ID #REQUIRED>
<!ELEMENT articles ANY>
<!ATTLIST articles id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
]>
<root id="-1">
  <home id="1087" key="ec27171a-7cc0-4af0-8b14-4eb85b566829" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-10-06T09:25:33" updateDate="2018-10-06T14:24:05" nodeName="Homepage" urlName="homepage" path="-1,1087" isDoc="" nodeType="1070" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1069" nodeTypeAlias="home" isPublished="true">
    <metaKeywords><![CDATA[Webintergrator, datamatiker,  pba webudvikling]]></metaKeywords>
    <metaDescription><![CDATA[CV]]></metaDescription>
    <logoAlt><![CDATA[web]]></logoAlt>
    <socialLinks><![CDATA[facebook]]></socialLinks>
    <subTitle><![CDATA[Helene Selmer Nielsen]]></subTitle>
    <title><![CDATA[Portfolio]]></title>
    <about id="1088" key="d72a439b-868a-4efc-817f-0be5b0c1bef2" parentID="1087" level="2" creatorID="0" sortOrder="0" createDate="2018-10-06T13:22:50" updateDate="2018-10-06T13:22:50" nodeName="About" urlName="about" path="-1,1087,1088" isDoc="" nodeType="1072" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1071" nodeTypeAlias="about" isPublished="true" />
    <articles id="1089" key="446e993f-7f6f-4bdd-add2-f4ccf503c028" parentID="1087" level="2" creatorID="0" sortOrder="1" createDate="2018-10-06T13:23:20" updateDate="2018-10-06T13:23:26" nodeName="Articles" urlName="articles" path="-1,1087,1089" isDoc="" nodeType="1074" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1073" nodeTypeAlias="articles" isPublished="true">
      <articlesItem id="1096" key="8f20987e-c328-4ebf-a0fe-5e0154f5eecd" parentID="1089" level="3" creatorID="0" sortOrder="0" createDate="2018-10-06T16:50:52" updateDate="2018-10-06T17:02:35" nodeName="item01" urlName="item01" path="-1,1087,1089,1096" isDoc="" nodeType="1076" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1075" nodeTypeAlias="articlesItem" isPublished="true">
        <aItemTitle><![CDATA[ Vendsyssel slår FCK ]]></aItemTitle>
        <aItemImg><![CDATA[umb://media/0f9132486c4748e88d15292fd0fff5b2]]></aItemImg>
        <aAltimg><![CDATA[fckvsvend]]></aAltimg>
      </articlesItem>
      <articlesItem id="1104" key="7c941672-5311-4f0d-818e-4f0859a1ccfa" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2018-10-07T09:05:20" updateDate="2018-10-07T09:05:20" nodeName="item02" urlName="item02" path="-1,1087,1089,1104" isDoc="" nodeType="1076" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1075" nodeTypeAlias="articlesItem" isPublished="true" />
    </articles>
    <projects id="1090" key="8fb37743-3226-4152-8ff3-c54c62c87b04" parentID="1087" level="2" creatorID="0" sortOrder="2" createDate="2018-10-06T13:23:40" updateDate="2018-10-06T13:23:40" nodeName="Projects" urlName="projects" path="-1,1087,1090" isDoc="" nodeType="1082" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1081" nodeTypeAlias="projects" isPublished="true">
      <projectsItem id="1097" key="d833a807-2a86-45a4-a3bd-230c4ce17d84" parentID="1090" level="3" creatorID="0" sortOrder="0" createDate="2018-10-06T16:51:12" updateDate="2018-10-06T16:51:12" nodeName="project01" urlName="project01" path="-1,1087,1090,1097" isDoc="" nodeType="1084" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1083" nodeTypeAlias="projectsItem" isPublished="true" />
      <projectsItem id="1105" key="b6d4e616-4d63-44f0-93e5-71189d087756" parentID="1090" level="3" creatorID="0" sortOrder="1" createDate="2018-10-07T09:05:32" updateDate="2018-10-07T09:05:32" nodeName="project02" urlName="project02" path="-1,1087,1090,1105" isDoc="" nodeType="1084" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1083" nodeTypeAlias="projectsItem" isPublished="true" />
    </projects>
    <contactPage id="1091" key="44b71d78-59a2-47cc-b238-fb9a0d8f60f8" parentID="1087" level="2" creatorID="0" sortOrder="3" createDate="2018-10-06T13:24:23" updateDate="2018-10-06T13:24:53" nodeName="Contact" urlName="contact" path="-1,1087,1091" isDoc="" nodeType="1078" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1077" nodeTypeAlias="contactPage" isPublished="true" />
    <textPAge id="1124" key="a4d7e9ba-7500-48cf-9506-54635d7a345a" parentID="1087" level="2" creatorID="0" sortOrder="4" createDate="2018-10-07T11:24:23" updateDate="2018-10-07T16:19:15" nodeName="Login" urlName="login" path="-1,1087,1124" isDoc="" nodeType="1086" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1123" nodeTypeAlias="textPAge" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
    </textPAge>
    <textPAge id="1125" key="783ff31d-0a38-43e4-89a2-9c4f173aec85" parentID="1087" level="2" creatorID="0" sortOrder="5" createDate="2018-10-07T11:53:15" updateDate="2018-10-07T14:51:57" nodeName="logget in" urlName="logget-in" path="-1,1087,1125" isDoc="" nodeType="1086" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1085" nodeTypeAlias="textPAge" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
      <tbodyText><![CDATA[welcom your are logget in to the site]]></tbodyText>
    </textPAge>
    <textPAge id="1126" key="a200a88f-6ea7-4dbf-a1f5-65bbb00fe18a" parentID="1087" level="2" creatorID="0" sortOrder="6" createDate="2018-10-07T11:55:01" updateDate="2018-10-07T14:52:15" nodeName="NotLoggetIn" urlName="notloggetin" path="-1,1087,1126" isDoc="" nodeType="1086" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1085" nodeTypeAlias="textPAge" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
      <tbodyText><![CDATA[your not logget in]]></tbodyText>
    </textPAge>
    <textPAge id="1132" key="0cdcf4b5-9841-434b-af6e-c42bc3591c87" parentID="1087" level="2" creatorID="0" sortOrder="7" createDate="2018-10-08T09:32:40" updateDate="2018-10-08T10:24:14" nodeName="newMembers" urlName="newmembers" path="-1,1087,1132" isDoc="" nodeType="1086" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1131" nodeTypeAlias="textPAge" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
    </textPAge>
    <textPAge id="1135" key="65fa4568-3832-46b2-b692-32a80cd2d7a6" parentID="1087" level="2" creatorID="0" sortOrder="8" createDate="2018-10-08T10:08:04" updateDate="2018-10-11T18:59:04" nodeName="Members" urlName="members" path="-1,1087,1135" isDoc="" nodeType="1086" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1134" nodeTypeAlias="textPAge" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <showOnlyForMembers>1</showOnlyForMembers>
    </textPAge>
    <textPAge id="1136" key="467d97e8-bf7b-46e1-bf58-dbc4de7c5d7a" parentID="1087" level="2" creatorID="0" sortOrder="9" createDate="2018-10-08T12:29:41" updateDate="2018-10-10T20:30:28" nodeName="Message board" urlName="message-board" path="-1,1087,1136" isDoc="" nodeType="1086" creatorName="Helene Selmer nielsen" writerName="Helene Selmer nielsen" writerID="0" template="1085" nodeTypeAlias="textPAge" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
    </textPAge>
  </home>
</root>